# frozen_string_literal: true

# Event published when a <%= file_name %> is deleted
class <%= class_name %>DeletedEvent < ApplicationEvent
  include SmartDomain::Event::ActorMixin

  attribute :<%= file_name %>_id, :string

  validates :<%= file_name %>_id, presence: true

  # Add domain-specific attributes here if needed
  # These should be attributes you want to preserve after deletion
end
